body{
    margin: 0;
}

.mainBody{
    margin: 2%;
    width: 90%;
}

#logo{
    width: 300px;
    height:auto;
    vertical-align: middle;
}

.topBar{
    background-color: rgb(248, 248, 248);
    color: hsl(122, 47%, 57%);
    font-family: Verdana;
    font-size: 40px;
    padding:0.5%;

}

#homeLink{
    color: hsl(122, 47%, 57%);
    font-family: Verdana;
    font-size: 40px;
    text-decoration: none;
}


.newWorkspace{
    background-color: rgb(248, 248, 248);
    color: black;
    font-family: Arial,sans-serif;
    font-size: 20px;
    padding: 2%;
    margin-bottom: 3%;

}

#adder{
    color: #4169E1;
    font-size: 27px;
}

input{
    border: none;
}

.gauge{
    font-size: 19px;
    font-family: Arial,sans-serif;

}

.submitWorkspace {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


.workspace{
    background-color: rgb(255, 255, 255);
    font-family: Arial,sans-serif;
    font-size: 20px;
    width:43.5%;
    margin-bottom: 2%;
    margin-right:2%;

    padding: 2%;
    padding-left: 2%;
    display: inline-table;

}


.workspaceTitle{
    color: #45a049	;
}

.inWorkspace{
    width: 50%;
    font-size: large;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#myWorkspaces{
    color: #4169E1;
    font-family: Arial,sans-serif;
    font-size: 27px;
}

.allWorkspaces{
    overflow: hidden;
    background-color: rgb(248, 248, 248);
    padding: 2%;

}

.inputBox{
    padding: 1%;
    width: 40%;
    font-family: Verdana;
    font-size:15px;

}

.showEmployeesButton{
    font-family: Arial,sans-serif;
    padding: 0;
    border: none;
    font-size: 20px;
    color:  #4c8bf5;
    background-color: white;

}

.labelUpload{
    float: left;
    display: block;
    box-sizing: border-box;
    width:50%;
    text-align: center;
    font-size: large;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



  
.help {
width: 20px;
margin: 0 auto;
float: right;
}

.help .question {
height: 25px;
width: 25px;
background: white;
border: solid #4CAF50;
color: #4CAF50;
font-size: 20px;
text-align: center;
line-height: -10px;
border-radius: 50%;
cursor: pointer;
}

.help .popup, .help .popup2 {
width: 550px;
height: 0px;
text-align: left;
overflow: hidden;
position: relative;
background: #eee;
opacity: 0;
transition: 1s;
}

.help .popup {
left: -260px;
top: 10px;
}

.help:hover .popup {
opacity: 1;
height: 500px;
}

.help .popup h3 {
margin: 0;
padding: 10px 0 0 10px;
height: 30px;
background: #4CAF50;
color: #fff;
font-weight: 400;
font-size: 18px;
}

.help .popup p {
font-size: 15px;
padding: 10px;
margin: 0;
font-family: Verdana;
text-align: justify;
}

.help .popup .popup2 .sub-levels {
padding: 0 0 10px 140px;
}

.help .popup .popup2 .sub-levels strong {
font-size: 20px;
}

.help .popup .popup2 p:nth-child(5) {
padding: 20px 0 0 10px;
}

.help .popup p em {
font-size: 12px;
}

