<!doctype html>
	<html>
		<head>
			<meta charset="utf-8">
			<title>Add employee</title>
			<link rel="stylesheet" href="{{ url_for('static', filename='employee.css') }}">
		</head>
		<body>
			<div class="topBar">
                <a id="homeLink" href="/">
                <img id="logo" src="/static/logo.png" alt="logo">
                </a> 
            </div>

			<br>

			<div class="mainBody">
				<form class="addEmployeeForm" action="http://127.0.0.1:5000/employee/{{workspaceID}}" method="POST">

					<label id="adder"><b>Employee Registration</b></label><br><br><br>

					<label>Name</label><br><br>
					<input class="inputBox" type="text" id="name" name="name" required><br><br>

					<label>Last Name</label><br><br>
					<input class="inputBox" type="text" id="surname" name="surname" required><br><br>

					<label>Travel time to workspace</label><br><br>
					<select class="scrollDown" name="time" required>
						<option value="">--Select--</option>
					{% for t in ["0-15 min", "15-30 min", "30-60 min", "60+ min"] %}
						<option value="{{loop.index}}">{{t}}</option>
					{% endfor %}
					</select><br><br>

					<label>Transport environmental impact</label><br><br>
					<select class="scrollDown" name="sustainability" required>
						<option value="">--Select--</option>
					{% for option in ["walk/bicycle", "public transport/electric vehicle", "combustion-powered vehicule"] %}
						<option value="{{loop.index}}">{{option}}</option>
					{% endfor %}
					</select><br><br>

					<label>Number of days needed at the workspace</label><br><br>
					<select class="scrollDown" name="needDays" required>
						<option value="">--Select--</option>
					{% for numDay in [0, 1, 2, 3, 4, 5] %}
						<option value="{{numDay}}">{{numDay}}</option>
					{% endfor %}
					</select><br><br>


					<script language="JavaScript">
						function toggle(source) {
							checkboxes = document.getElementsByName('willingDay');
							for(var i=0, n=checkboxes.length;i<n;i++) {
								checkboxes[i].checked = source.checked;
							}
						}
					</script>
						

					<label>What days of the week are you willing to work at the workspace?</label> <br> <br>
					<input type="checkbox" onclick="toggle(this)" />All
					<input type="checkbox" name="willingDay" value="Monday"> Monday
					<input type="checkbox" name="willingDay" value="Tuesday"> Tuesday
					<input type="checkbox" name="willingDay" value="Wednesday"> Wednesday
					<input type="checkbox" name="willingDay" value="Thursday"> Thursday
					<input type="checkbox" name="willingDay" value="Friday"> Friday
					
					<br><br>

					<input class="addEmployee" id = "submit" type='submit' value='Add employee'/>
					
				</form>

				<form action="http://127.0.0.1:5000/workspace" method="GET">
					<input class="doneButton" type="submit" value="Done" />
				</form>

			</div>
			
		</body>
	</html>