<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<title>Manage workspaces</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='workspace.css') }}">
</head>
<body>

    <div class="topBar">
        <a id="homeLink" href="/">
        <img id="logo" src="/static/logo.png" alt="logo">
        </a> 
    </div>

    <br>

    <div class="mainBody">

        <form class="newWorkspace" action="http://127.0.0.1:5000/workspace" method="POST">

            <label id="adder"><b>Workspace Adder</b></label> <br><br><br>

            <label>Name of the workspace:</label><br><br>
            <input class="inputBox" type="text" id="name" name="name" required><br><br>

            <label>Total capacity of the workspace:</label><br><br>
            <input class="inputBox" type="number" id="capacity" name="capacity" min="0"> <br><br>

            <label>Covid 19 capacity restriction (max occupation rate (%)):</label><br><br>
            <div>
                <input type="range" name="amountRange" min="0" max="100" value="100" oninput="this.form.amountInput.value=this.value" />
                <input type="number" class="gauge" name="amountInput" min="0" max="100" value="100" oninput="this.form.amountRange.value=this.value" />
                %
            </div>
            <br><br>
                
            <input class='submitWorkspace' id = "submit" type='submit' value='Add workspace'/>
            
        </form>

        <div class="allWorkspaces">
            <h1 id="myWorkspaces">My Workspaces</h1><br>

            {% for workspace in workspaces %}
            <div class="workspace">
                <label class="workspaceTitle"><b>{{workspace[1]}}</b></label>
                <p>Daily limit of employees: {{workspace[2]}}</p>

                <script>
                    function showDiv(id_text,id_button) {

                        if (document.getElementById(id_text).style.display == "none"){

                            if (document.getElementById(id_text).innerHTML == "<br><br>"){
                                document.getElementById(id_text).innerHTML="No employees registered for this workspace <br><br>"
                            }

                            document.getElementById(id_text).style.display = "block";
                            document.getElementById(id_button).value = "Show employees -";
                        }

                        else{
                            document.getElementById(id_text).style.display = "none";
                            document.getElementById(id_button).value = "Show employees +";
                        }
                        
                    }
                </script>
                
                 
                <input class="showEmployeesButton" id="employeeButton{{workspace[0]}}" type="button"  onclick="showDiv('employees{{workspace[0]}}', 'employeeButton{{workspace[0]}}')" value="Show employees +" />
                <br><br>
                <div id="employees{{workspace[0]}}" style="display:none;">{{workspace[3]}}<br><br></div>


                <form action="http://127.0.0.1:5000/employee/{{workspace[0]}}" method="GET">
                    <input class='inWorkspace' type='submit' value='Add employee'/>
                </form> <br>

                <script>
                    function submitform(id){
                        document.forms[id].submit();
                    }
                </script>

                <form name="uploadForm{{workspace[0]}}" action="http://127.0.0.1:5000/upload/{{workspace[0]}}" method="POST" enctype="multipart/form-data">
                    <input type="file" name="fileupload" id="fileUploadBtn{{workspace[0]}}" accept=".csv" oninput="submitform('uploadForm{{workspace[0]}}')" hidden/>
                    <label class="labelUpload" for="fileUploadBtn{{workspace[0]}}">Choose File</label>
                </form> <br>

                <div class="help">
  
                    <div class="question">?</div>
                  
                    <div class="popup">
                      <h3>What csv format should I use?</h3>
                      <p>The document you upload must follow certain norms for the website to interpret it without error.

                        <br>
                        - It must be in <b>semi-colon separated csv format</b>. 
                        <br>
                        
                        - The csv file must have exctly the following keys: <br> <br>
                        <span style="font-size:13px;color:#449c47;">name;lastName;time;sustainability;needDays;willMo;willTu;willWe;willTh;willFr</span> 
                        
                        <br> <br>
                        - Each row must contain the information about one worker you wish to add to the workspace. 
                        You must not leave an empty row. 

                        <br>
                        
                        - The names must <b>not contain any spaces</b> (use dashes for compound names). 
                        
                        <br>
                        - The time field is a <b>number from 1 to 4</b> represening the time of transportation for the employee 
                        to reach the workspace: 1 = 0-15mins ; 2 = 15-30mins ; 3 = 30-60mins ; 4 = 60+mins.
                        
                        <br>
                        - The sustainability field is a <b>number from 1 to 3</b> characterizing the means of transportation used 
                        by the employee: 1 = walk/bike ; 2 = public transport/electric vehicle ; 3 = combustion powered vehicle.
                        
                        <br>
                        - The needDays field is a <b>number from 0 to 5</b> representing the number of days where the employee must imperatively 
                        be at the workspace.
                        
                        <br>
                        - The 5 last fields from willMo to willFri characterize the <b>employee's preferred working place for each day 
                        of the week</b>. It is either 0 if the employee wants to work from home on that day or 1 if he is willing to go 
                        to the workspace.
                        </p>
                    </div>
                  
                </div><br><br><br>

                <form action="http://127.0.0.1:5000/schedule/{{workspace[0]}}" method="POST">
                    <input class='inWorkspace' type='submit' value='Generate Schedule'/>
                </form>

            </div>
            {% endfor %}
        </div>

    </div> 
    
</body>
</html>